{
	debug
}

# reusable snippets
(boilerplate) {
        encode gzip zstd
}

npi.datacureservices.com {

        log {
        output file /data/log/caddy/npi.datacureservices.com-access.log {
                roll_size 10mb
                roll_keep 20
                roll_keep_for 720h
                }
        }
                
        reverse_proxy http://127.0.0.1:8000
        import boilerplate
        tls wtfisup@hotmail.com
}

// www.datacureservices.com {
//     redir https://datacureservices.com{uri}
//     import boilerplate
// }